.title {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  text-align: center;
  padding-bottom: 30px;
}

.wrap {
  margin-top: 30px;
}

.input {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #bbbbbb;
}

.wrap label {
  color: #333;
  font-size: 14px;
  margin-bottom: 10px;
}

.input input {
  width: 100%;

  margin-left: 6px;
  outline: none;
  border: none;
  color: #333;
  font-size: 16px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 40px white inset !important;
}

.input input::placeholder {
  color: #bbbbbb;
}

.paragraph {
  margin: 8px 0 30px 0;
  font-size: 12px;
  text-align: right;
  color: #333;
}

.signup {
  margin: 80px 0 20px 0;
  text-align: center;
}

.signup p {
  margin-bottom: 20px;
  color: #333;
}

.signup a {
  text-decoration: none;
  color: #333;
}

.invalid .input {
  border-bottom: 1px solid #b40e0e;
}

.error-text {
  color: #b40e0e;
}
