* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./assets/bg-img.webp");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Popins", sans-serif;
}
