.container {
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 100%;
  max-width: 460px;
  margin: 60px auto;
  padding: 30px 50px;
  border-radius: 6px;
}

@media only screen and (max-device-width: 480px) {
  .container {
    margin: 0;
    height: 100vh;
    border-radius: 0;
  }
}
